<h1>Movies#confirm</h1>
<h2>Some other titles your summary might belong to instead:</h2>

<h2> Current movie name: <%= @movies.name %> </h2>

<% @results.each do |r|%>

<table>
  <tr>
    <td>
      <a href="#">
        <%= r.title%> <i>(<%= r.release_date[0...4]%>)</i>
      </a>
    </td>
  </tr>
</table>

<% end %>


