<h1>Movies#profile</h1>
<p>Will display movie profile goods - reviews for that movie, etc. etc..</p>

<h2>All reviews for <%= @movie.name   %></h2>

<% if @movie.moviedb_id == nil %>
<br> We can't get much information about this movie. . Can you <%= link_to 'help identify it?', confirm_movie_path(@movie) %></a>
<% end %>

<% Review.where(movie: @movie.name).order(:score).limit(20).each do |r|%>
  
<table>
  <tr>
    <td><%= r.summary %></td>
  </tr>
</table>

<% end %>


