<h2> <%= @user.username %>'s Profile </h2>

<!-- @user_reviews = current_user.reviews -->

<% if current_user.id == @user_id %>
<a href="/users/edit">Edit Your Profile</a>
<% end %>
<strong><p>Most recent reviews by <%= @user.username %>:</p></strong>

<% @user_reviews.each do |review| %>
<table>
  <tr>
    <td><%= review.summary %>
    </td>
  </tr>
</table>
<% end %>

<p>Users#profile</p>