<h2>About TLDW</h2>
<p> <b>TLDW</b> is an experimental <a href="http://rubyonrails.org/">rails</a> app made by a guy named <a href="http://www.spensercoke.com">Spenser</a> where you have to summarize a movie in 140 characters or less. 
<br>He thought it would be funny.

<p><a href="https://github.com/bananatron"><img src="http://png-5.findicons.com/files/icons/2779/simple_icons/24/github_24_black.png">bananatron</a>