  <h2>About TLDW</h2>
<div class="large-8 columns">  

  <p> <br><b>TLDW</b> is an experimental web service made by a guy named <a href="http://www.spensercoke.com">Spenser</a> where you have to summarize a movie in 140 characters or less. 
    <br>(<i>He thought it would be funny.</i>)
  <br><br>
  It uses an API gracefully provided by <a href="https://www.themoviedb.org/">themoviedb.org</a> for imges and other stuff and was crafted using <a href="http://rubyonrails.org/">ruby/rails</a> .
    
    <p><a href="https://github.com/bananatron"><img src="http://png-5.findicons.com/files/icons/2779/simple_icons/24/github_24_black.png">bananatron</a>
</div>
<div class="large-4 columns">  
  <%= image_tag("rubydog.png") %>
</div>
