  <h2>About TLDW</h2>
<div class="large-8 columns">  

  <p> <br><b>Too Long, Didn't Watch</b> is a web service where users summarize movies in 140 characters or less. 
    
    
    <p>It was made by a guy named <a href="http://www.spensercoke.com">Spenser</a> (<i>He thought it would be funny.</i>)
  <br><br>
  It uses an API gracefully provided by <a href="https://www.themoviedb.org/">themoviedb.org</a> for images and other cool stuff and was crafted using <a href="http://rubyonrails.org/">ruby on rails</a> .
      
      <br>
            <!--<%= image_tag("doog.gif") %>-->
</div>
<div class="large-4 columns">  
  <%= image_tag("rubydog.png") %>
</div>
