  <h2>Changelog</h2>
<table>
  
  <tr><td width="10%">
  1.0 
  </td>
  <td width>
  Stable production release. Everything should be working and stable for the most part (we'll find out...)
  </td>
  </tr>
  
</table>
<center>
  <a href="mailto:tldwmovies@gmail.com">Have an idea for a feature or suggestion?</a></center>
<br><br>