<center>
<div class="score_container" >
  <div class="header_bg"><span class="header_name">SCORE</span></div>
  <div class="score_bg"><span class="score_text"><%= review.score %></span></div>
</div>

<% if current_user %>
  <%  if Vote.where(review_id:review, user_id:current_user.id).count < 1 %>
  <%= button_to '+1', upvote_review_path(review), method: :post, :class => "button small radius round " %>
  <% else %>
  <%= button_to '-1', delete_vote_review_path(review), method: :post, :class => "button small radius round alert" %>
  <% end %>
<% else %>
  <%= button_to '+1', upvote_review_path(review), method: :post, :class => "button small radius round " %> 
<% end %>   
</center>